body {
  font-family: Arial, sans-serif;
  background: #eaded0;
  padding: 20px;
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
}

h1 {
  text-align: center;
}

#total {
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}

.btn {
  display: block;
  margin: 20px auto;
  background: #3b5d3b;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background: #2e4a2e;
}

.card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  background: #fff;
}

input,
button {
  padding: 8px;
  margin: 5px;
  width: 90%;
}

img.qr {
  width: 250px;
  height: 250px;
  border: 1px solid #ccc;
}

.note {
  font-size: 0.9em;
  color: #95714f;
}