body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #eaded0;
}

header {
  background: #3b5d3b;
  color: black;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 120px;
  padding: 20px;
}

.card {
  background: #eaded0;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: center;
  transition: 0.3s;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
}

.btn {
  background: #8c916c;
  color: black;
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background: #2e4a2e;
}

.cart-link {
  text-align: right;
  margin: 15px;
}

.cart-link a {
  background: #957147;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 6px;
}